[run]
branch = True
source = kubeshift

[report]
precision = 2
show_missing = True
ignore_errors = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError


[html]
directory = .cover/
title = KubeShift Coverage Report
